:root {
    --main-theme-color: rgb(152, 76, 175);
    --main-header-color: rgb(255, 255, 255);
    --main-bg-color: rgba(78, 81, 82, 0.068); 
  
    --FontColour-dark: rgba(0, 0, 0, 0.973);
    --FontColor-light: rgba(78, 81, 82, 0.493);
    --FontColor-Darklight : rgba(13, 13, 14, 0.699);
  }


.MenuBar
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 4%;
  background-color:  #181414;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}
.Panel
{
  margin-left: 4%;
  background-color: aliceblue
}
li a {
  display: block;
  color: var(--main-theme-color);
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: var(--main-theme-color);
  color: white;
}





.Panel
{
    /*margin-left: 6%;*/
    height: 100%;
    width: 100%;
    border: none;
}


