:root {
  --main-theme-color: rgb(152, 76, 175);
  --main-header-color: rgb(255, 255, 255);
  --main-bg-color: rgba(78, 81, 82, 0.068); 

  --FontColour-dark: rgba(0, 0, 0, 0.973);
  --FontColor-light: rgba(78, 81, 82, 0.493);
  --FontColor-Darklight : rgba(13, 13, 14, 0.699);
}

  #TopTitleBar
   { 
      padding: 10px; background-color: var(--main-header-color-color);
     font-weight: bold; font-size: 1.25em; text-align: center; color: black; 
    
  }

  
  #NewsImage
   { 
      height: 200px; width: auto; background-color: aliceblue;    
  }
  
  #NewsTopic
  {
    
  }

  #NewsContent
  {
    font-style: italic
  }

  #But_NextNews
  {
  }

  .DirectionButton{
  display: inline-block;
  border-radius: 4px;
  background-color: var(--main-theme-color);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  }
  
  .LeftDirectionButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .RightDirectionButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .LeftDirectionButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .RightDirectionButton span:after {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }

  .LeftDirectionButton:hover span {
    padding-right: 25px;
  }
  .RightDirectionButton:hover span {
    padding-left: 25px;
  }
  .LeftDirectionButton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .RightDirectionButton:hover span:after {
    opacity: 1;
    left: 0;
  }
body
{
  background-color: var(--main-bg-color) ;

}
/*************************
/ Protoyping
/*************************
/*
.button {
  background-color: rgb(152, 76, 175); 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; //* Safari *
  transition-duration: 0.4s;
  cursor: pointer;
}


.SearchButtons:hover
{
  background-color: rgb(8, 183, 241);
  color: white;
}
.buttonSelection
{
  background-color: rgba(43, 108, 228, 0.918);
}
*/
.button {
  background-color: transparent; 
  border: none;
  color: var(--FontColor-light);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
.SearchButtons:hover
{
   color: var(--FontColour-dark);
}
.buttonSelection
{
  color: var(--FontColour-dark);
  font-weight: bold;
  
}
.buttonSelection:focus {
  outline: none;
}
.NewsContentBG
{
  
}


/*****************************************/
  .News-Image\ Area { grid-area: News-Image\ Area; padding: 20px; background-color: green }
  
  .NewsHeader-Area { grid-area: NewsHeader-Area; padding: 20px;background-color: blue }
  
  .News-Area { grid-area: News-Area; }